# pip-compile --output-file=app/requirements.txt requirements.in
fastapi
uvicorn
pydantic
python-multipart
requests
pandas
psycopg
databases[postgresql]
SQLAlchemy
alembic
sqlalchemy-utils
aiofiles
aiocsv
boto3
celery
redis
pyjwt
passlib[bcrypt]
pytest
pytest-asyncio
pytest-mock
httpx
asgi-lifespan
ecdsa
pyblake2
base58
python-dotenv
psycopg2
git+https://github.com/ergo-pad/ergo-python-appkit.git@v0.0.6
