# ergopad
ergo-python-appkit==0.1.0
paideia-contracts==1.0.0

# requirements
aiocsv==1.2.1
aiofiles==0.8.0
alembic==1.7.4
asgi-lifespan==1.0.1
base58==2.1.1
boto3==1.20.54
databases[postgresql]==0.3.1
ecdsa==0.17.0
fastapi==0.68.2
passlib[bcrypt]==1.7.2
psycopg==3.0.9
psycopg2==2.9.3
pyblake2==1.1.2
pydantic==1.8.2
pyjwt==2.0.1
pytest==6.2.5
pytest-asyncio==0.14.0
pytest-mock==3.7.0
python-dotenv==0.19.2
python-multipart==0.0.5
redis==3.5.3
requests==2.27.1
sqlalchemy==1.4.25
uvicorn==0.11.7
sqlalchemy-utils==0.38.2
colorlog==6.6.0

# dependencies
# amqp==5.0.9
    # via kombu
# asyncpg==0.24.0
    # via databases
atomicwrites==1.4.0
    # via pytest
attrs==21.4.0
    # via pytest
bcrypt==3.2.0
    # via passlib
botocore==1.23.54
    # via
    #   boto3
    #   s3transfer
certifi==2021.10.8
    # via
    #   requests
cffi==1.15.0
    # via bcrypt
charset-normalizer==2.0.11
    # via requests
click==7.1.2
    # via
    #   uvicorn
colorama==0.4.4
    # via pytest
greenlet==1.1.2
    # via sqlalchemy
h11==0.9.0
    # via
    #   httpcore
    #   uvicorn
idna==3.3
    # via
    #   requests
    #   rfc3986
iniconfig==1.1.1
    # via pytest
jmespath==0.10.0
    # via
    #   boto3
    #   botocore
mako==1.1.6
    # via alembic
markupsafe==2.0.1
    # via mako
packaging==21.3
    # via pytest
pluggy==1.0.0
    # via pytest
psycopg2-binary==2.9.3
    # via databases
py==1.11.0
    # via pytest
pycparser==2.21
    # via cffi
pyparsing==3.0.7
    # via packaging
python-dateutil==2.8.2
    # via
    #   botocore
s3transfer==0.5.1
    # via boto3
six==1.16.0
    # via
    #   bcrypt
    #   click-repl
    #   ecdsa
    #   python-dateutil
    #   python-multipart
    #   sqlalchemy-utils
sniffio==1.2.0
    # via
    #   asgi-lifespan
    #   httpcore
starlette==0.14.2
    # via fastapi
toml==0.10.2
    # via pytest
typing-extensions==4.0.1
    # via pydantic
tzdata==2021.5
    # via psycopg
urllib3==1.26.8
    # via
    #   botocore
    #   requests
vine==5.0.0
    # via
    #   amqp
websockets==8.1
    # via uvicorn
