aiocsv
aiohttp[speedups]
aiofiles
alembic
amqp
asyncpg==0.24.0
base58
bcrypt
boto3
botocore
celery
certifi
cffi
ecdsa
fastapi
h11
httpx
passlib[bcrypt]
psycopg
psycopg2-binary
pyblake2
pydantic
pyjwt
pytest
pytest-asyncio
pytest-mock
python-dateutil
python-dotenv
python-multipart
pytz
redis
requests
s3transfer
six
sqlalchemy
sqlalchemy-utils
starlette
typing-extensions
tzdata
urllib3
uvicorn
gunicorn
websockets
ergo-python-appkit==0.1.0
paideia-contracts==0.0.5
sqlmodel
colorlog

### most of these are installed via depencency
# vine==5.0.0
# wcwidth==0.2.5
# rfc3986[idna2008]==1.5.0
# sniffio==1.2.0
# toml==0.10.2
# charset-normalizer
# click
# click-didyoumean
# click-plugins==1.1.1
# click-repl==0.2.0
# colorama==0.4.4
# databases[postgresql]==0.3.1
# greenlet
# httpcore
# idna
# iniconfig
# jmespath
# kombu
# mako
# markupsafe
# numpy
# packaging
# pandas
# pluggy==1.0.0
# prompt-toolkit==3.0.28
# psycopg2
# py==1.11.0
# pycparser==2.21
# pyparsing==3.0.7
